.top_end {
    height: 400px;
    width: 100%;
    /* background-color: violet; */
}

.search_section {
    height: 445px;
    overflow: hidden;
}
.section_1{
    background: linear-gradient(252.43deg, #134491 9.89%, #1A73CB 96.03%);
}
.offer_wrapper {
    margin: 3%;
}
.scheme{
    position: absolute;
    width: 100%;
    font-weight: 600;
    margin: 3rem 1rem;
    opacity: .9;
    font-size: 4rem;
}
.search_wrapper {
    position: relative;
    top: 15rem;
    left: 14%;
    right: 35vw;
    width: 80rem;
    height: 8.5rem;
    background: rgba(20, 73, 152, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.27);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

.advanced_search {
    transform: scale();
}

.offers_section {
    position: relative;
    margin: 0px 0px;
    width: 100%;
    background-color: white;
    /* z-index: -1; */
}

.row_1 {
    display: flex;
}

.column_1 {
    position: relative;
    flex: 20%;
    left: 1rem;
}

.search_text1 {
    position: relative;
    top: -.8rem;
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: .01rem;
    line-height: 68px;
    /* identical to box height, or 298% */
    color: #FFFFFF;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.06);
}

.box_content {
    position: relative;
    display: flex;
    top: -1.8rem;
    width: 14rem;
    height: 2.5rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

.see_all {
    background: #F2C94C;
    border-width: 0px;
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #145FB0;
}

.see {
    position: relative;
    margin: .3rem 3.5rem;
    
}

.salary_text {
    position: relative;
    font-size: 1.2rem;
    left: 1rem;

font-family: poppins;
font-style: normal;
font-weight: 500;
line-height: 29px;

color: #145FB0;

opacity: ;

}

.vl_1 {
    position: relative;
    left: 0rem;
    width: .3px;
    background-color: #1654A4;
    opacity: .2;
}

.salary_inp {
    font-size: 1.2rem;
}

.Loan_type_text {
    font-size: 1.2rem;
    width: 100%;
    font-family: poppins;
font-style: normal;
font-weight: 500;
line-height: 29px;

color: #145FB0;
opacity: .9;
}

.row_2 {
    display: flex;
    position: relative;
    top: -1.5rem;
}

.without_transfer {
    position: relative;
    /* top: -2.4rem; */
    left: 1.1rem;
    font-size: 1.2rem;
}

.checker {
    position: relative;
    top: .4rem;
    left: 5rem;
    border-radius: 8px;
}

.c2 {
    left: 19.5rem;
}

.c3 {
    left: 24rem;
}


/* media querries
search */

@media (max-width: 1440px) {
    .search_section {
        height: 460px;
    }
    .advanced_search {
        position: relative;
        top: 0rem;
        transform: scale(.85);
    }
    .search_wrapper {
        left: 2vw;
        right: 5vw;
        top: 15.5rem;
    }
    .offers_section{
        position: relative;
        margin: 0rem 0rem; 
    }
    .scheme{
        margin: 3rem 0px;
        font-weight: 600;
        margin: 3rem 6rem;
        opacity: .9;
        font-size: 3.4rem;
    }
   
}

@media (max-width: 1280px) {
    .search_section {
        height: 400px;
    }
    .advanced_search {
        transform: scale(.85);
        left: ;
    }
    .search_wrapper {
        left: 2vw;
        right: 5vw;
        top: 15.5rem;
    }
    .offers_section{
        position: relative;
        /* margin: -16rem -15rem; */
    }
    .scheme{
        font-weight: 600;
        margin: 4rem 5rem;
        opacity: .9;
        font-size: 3.0rem;
    }
}

@media (max-width: 1024px) {
    .search_section {
        height: 350px;
    }
    .advanced_search {
        transform: scale(.7);
    }
    .search_wrapper {
        position: relative;
        left: -14vw;
        top: 15.2rem;
    }
    .offers_section{
        position: relative;
        background-color: ;
        /* margin: -28rem -23rem; */
    }
    .scheme{
        font-weight: 600;
        margin: 5rem 1rem;
        opacity: .9;
        font-size: 2.7rem;
    }
}
@media (max-width: 834px) {
    .search_section {
        height: 250px;
    }
    .advanced_search {
        transform: scale(.56);
        top: -4rem;
        left: -9vw;
    }
    .search_wrapper {
        position: relative;
        left: -14vw;
        top: 15.2rem;
    }
    .offers_section{
        position: relative;
        background-color: ;
        /* margin: -28rem -23rem; */
    }
    .scheme{
        font-weight: 600;
        margin: 5rem 1rem;
        opacity: .9;
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .search_section {
        height: 210px;
    }
    .advanced_search {
        transform: scale(.50);
        left: -1vw;
        top: -6rem;
    }
    .search_wrapper {
        position: relative;
        left: -35vw;
        top: 17rem;
    }
    .offers_section{
        position: relative;
        /* margin: -36rem -27rem; */
    }
    .scheme{
        font-weight: 600;
        margin: -22rem -16rem;
        opacity: .9;
        font-size: 2.2rem;
    }
}

@media (max-width: 600px) {
    .search_section {
        height: 300px;
    }
    .advanced_search {
        transform: scale(.65);
        top: -5rem;
    }
    .search_wrapper {
        position: relative;
        left: -19%;
        top: 11rem;
        height: 15rem;
        width: 48rem;
    }
    .offers_section{
        position: relative;
        /* margin: -39rem -30.5rem; */
    }
    .column_1 {
        margin-right: 2rem;
    }
    .down_1 {
        position: relative;
        left: -47rem;
        top: 5rem;
    }
    .down_2 {
        position: relative;
        left: -47rem;
        top: 5rem;
    }
    .row_2 {
        top: 5rem;
    }
    .c2 {
        left: 12rem;
    }
    .c3 {
        left: 16rem;
    }
    .scheme{
        font-weight: 600;
        margin: -20rem -33vw;
        opacity: .9;
        font-size: 1.7rem;
    }
}

@media (max-width: 414px) {
    .search_section {
        height: 230px;
    }
    .advanced_search {
        transform: scale(.45);
        left: 18vw;
    }
    .search_wrapper {
        position: relative;
        
        height: 15rem;
        width: 48rem;
        left: -26em;
        top: 10rem;
    }
    .offers_section{
        position: relative;
        /* margin: -48rem -35rem; */
    }
    .column_1 {
        margin-right: 2rem;
    }
    .down_1 {
        position: relative;
        left: -47rem;
        top: 5rem;
    }
    .down_2 {
        position: relative;
        left: -47rem;
        top: 5rem;
    }
    .row_2 {
        top: 5rem;
    }
    .c2 {
        left: 12rem;
    }
    .c3 {
        left: 16rem;
    }
    .scheme{
        font-weight: 500;
        margin: -13rem -6.4rem;
        opacity: .9;
        font-size: 1.4rem;
    }
}








/* new querry */
/* responsive media query start */
/* new querry */
/* responsive media query start */
/* new querry */
/* responsive media query start */
/* new querry */
/* responsive media query start */

@media (max-width: 1440px) {
    
.offers_section {
    
    /* z-index: -1; */
}
    .offer_results {
        position: relative;
        transform: scale(.85);
        top: -12rem;
        left: -15vw;
    }
}

@media (max-width: 1280px) {
    .offer_results {
        position: relative;
        transform: scale(.8);
        top: -15rem;
        left: -20vw;
        /* left: -19vw;
        top: -15rem; */
    }
}

@media (max-width: 1024px) {
    .offer_results {
        transform: scale(.63);
        top: -28rem;
        left: -35vw;
        /* left: -34vw;
        top: -27rem; */
    }
}

@media (max-width: 834px) {
    .offer_results {
        position: relative;
        transform: scale(.55);
        top: -32rem;
        left: -48vw;
        /* left: -45vw;
        top: -32rem; */
    }
    .offer_wrapper {
        width: 71rem;
    }
    .see_more {
        margin: 2rem 65vw;
    }
}

@media (max-width: 768px) {
    .offer_results {
        position: relative;
        transform: scale(.5);
        top: -34rem;
        left: -56vw;
    }
    .offer_wrapper {
        width: 71rem;
    }
    .see_more {
        margin: 2rem 68vw;
    }
}

@media (max-width: 600px) {
    .offer_results {
        position: relative;
        transform: scale(.44);
        top: -46em;
        left: -83vw;
    }
    .offer_wrapper {
        width: 71rem;
    }
    .see_more {
        transform: scale(1.5);
        margin: 2rem 85vw;
    }
}

@media (max-width: 414px) {
    .offer_results {
        position: relative;
        transform: scale(.32);
        top: -48rem;
        left: -137vw;
    }
    .offer_wrapper {
        width: 70rem;
    }
    .see_more {
        transform: scale(1.5);
        margin: 2rem 34rem;
    }
}